@use './partials/header';
@import '~bootstrap/scss/bootstrap';

.favicon {
      width: 50px;
}

#app {

      nav {
            height: 120px;
      }

      .jumbotron {
            height: calc(100vh - 120px);
            background-image: url(img/alternating-arrowhead.png);

            .logo_lateral {
                  width: 160px;
            }
      }
}